/*Tags*/
body {
	background: url(back.png);
	font-family: "Helvetica", "Calibri", Tahoma, Arial, Helvetica, sans-serif;
	margin: auto;
	display: block;
}

img {
	text-align: center;
	height: 100%;
	width: 100%;
}

header {
	display: block;
	position: fixed;
	background-color: #1C365C;
	width: 100%;
	opacity: 0.85;
	z-index: 9999;
}

#footer {
	display: block;
	clear: both;
	background-color:#1C365C;
	width: 100%;
	height: 200px;
	opacity: 1;
	z-index: -1;
	border-top-color: #ffffff;
	border-top-style: solid;
	border-top-width: 1px;
}

/*IDs*/
#parallax-header-space {
	display: inline-block;
	width: 100%;
	height: 700px;
	opacity: 1;
}

#parallax-header {
	display: inline-block;
	height: 800px;
	width: 100%;
}

#social {
	text-align : center;
}

/*Classes*/
img.logo {
	position: relative;
	left: 5.5%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	width: 250px;
	height: 60px;
}

img.social {
	padding-top : 5px;
	height : 50px;
	width : 50px;
}

img.information-image {
	display: inline;
	position: relative;
	background-color: #ffffff;
	z-index: 30;
	height: 85%;
	width: 30%;
	margin-left: 2%;
	margin-top: 2%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	text-align: center;
	vertical-align: top;
}

div.information-wrapper-white,
div.information-wrapper-blue {
	display: block;
	z-index: 10;
	width: 100%;
	height: 300px;
}

div.information-wrapper-blue {
	background-color: #1C365C;
	color: #ffffff;
}

div.information-wrapper-white {
	background-color: #ffffff;
	color: #000000;
}

div.information-content-wrapper {
	display: block;
	position: relative;
	z-index: 20;
	height: 100%;
	width: 67%;
	margin-left: 15%;
	overflow: hidden;
}

p.information-text,
p.parallax-headline {
	display: inline-block;
	position: relative;
	z-index: 20;
	height: 94%;
	width: 60%;
	margin-left: 5%;
	margin-top: 4%;
	word-wrap: break-word;
	overflow: hidden;
}

p.parallax-headline {
	background-color: #1C365C;
	opacity: 0.8;
	z-index: 20;
	height: 20%;
	width: 45%;
	padding: 50px;
	color: #ffffff;
	font-size: 40pt;
	margin-top: 10%;
	margin-left: 10%;
}